

.beneficios,
.participacao {
  display: flex;
  align-items: center; /* Isso alinha os filhos no centro vertical */
  padding: 40px 0; /* Dá altura pra facilitar o alinhamento */
}

/* Bordas */
.beneficios {
  border-top: 1px solid #ccc;
  border-bottom: none; /* Remove borda duplicada */
}

.participacao {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* BENEFÍCIOS */
.beneficios .texto {
  flex: 70%;
}

.beneficios .titulo {
  flex: 30%;
  text-align: center;
}

/* PARTICIPAÇÃO */
.participacao .item {
  flex: 50%;
  padding: 10px;
}

.participacao .titulo-part {
  text-align: center;
}
